name: Cache Workflow
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache Primes
        id: cache-primes
        uses: actions/cache@v4
        with:
          path: prime-numbers
          key: cache-9958c9b

      - name: Generate Prime Numbers
        if: steps.cache-primes.outputs.cache-hit != 'true'
        run: |
          mkdir -p prime-numbers
          echo "2, 3, 5, 7, 11" > prime-numbers/list.txt

      - name: prime-cache-9958c9b
        run: echo "Cache Hit: ${{ steps.cache-primes.outputs.cache-hit }}"
